.wrapper-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px 0px;
}
.game-board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
}
.game-cell {
  font-size: 70px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.game-reset {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(199, 191, 191);
  opacity: 0.6;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.game-winner {
  font-weight: 600;
  text-align: center;
}
.game-winner-X {
  color: #63d2e2;
}
.game-winner-O {
  color: #e85c5f;
}
.game-reset-X {
  background-color: #63d2e2;
}
.game-reset-O {
  background-color: #e85c5f;
}
.is-x {
  background-color: #63d2e2;
  color: white;
}
.is-o {
  background-color: #e85c5f;
  color: white;
}
