@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
  body {
    font-family: "Poppins", sans-serif;
    // background-color: #e5e5e5;
    height: 300vh;
  }
}
